<%- include ("partials/header")-%>
<form  action="/" method="post">
<label for="cityInput" class="cityName">City Name: </label>
<input id="cityInput" type="text" name="cityName" >
<button type="submit" >Go</button>
</form>

<%- include ("partials/footer")-%>
